= content_for :title do 
  = Eardrums

.row
  .large-12.columns.text-center
    p 
      = image_tag("Eardrums_logo.png", :size => "800x100")

.row
  .large-12.columns.text-center
    p 
      img src="http://placehold.it/600x200&text=Coming Soon!"
