<% content_for :title do %>Eardrums<% end %>

<!-- Nav and Banner -->
<div class="row">
  <div class="large-12 columns text-center">
    <p><%= image_tag("Eardrums_logo.png", :size => "800x100") %></p>
  </div>
</div>
<div class="row">
  <div class="large-12 columns text-center">
    <!-- Main Banner Image - place in a paragraph to enforce the modular scale spacing -->
    <p><img src="http://placehold.it/600x200&text=Coming Soon!" /></p>
  </div>
</div>

<!-- End Nav and Banner -->