/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Port+Lligat+Sans|Monofett|Oswald|Poiret+One);
@import "foundation";

$footer-height: 75px;
$border-radius: 5px;

html, body {height: 100%;}

#wrap {
  min-height: 100%;
}

header {
  background: rgb(138, 33, 134);
  color: #fff;
}

.small-padding {
  padding: 2px;
}

#hellouser {
  margin-top: 7px;
  text-align: right;
}

#footer {
  position: relative;
	margin-top: -$footer-height; /* negative value of footer height */
	height: $footer-height;
	clear:both;
  background: #48711C;
} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

.container {
  background: #DFDFDF;
  padding-left: 20px;
  padding-right: 20px;
  overflow:auto;
  padding-bottom: $footer-height;
}

#sign-in-block {
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 20px;
  color: #fff;
}

.btn-group {
  float: right;
}

%button {
  color: darken(#48711C, 20%);
  padding: 2px 10px 2px 10px;
  background-color: lighten(#95CB5B,5%);
  border: 10px;
  border-color: darken(#F07241, 25%);
  margin-right: 10px;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  text-shadow: 1px 1px 1px #fff;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -o-border-radius: $border-radius;
  border-radius: $border-radius;
  display: inline-block;
  font-family: 'Oswald','Port Lligat Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: bold;
}

.btn {
  @extend %button;
}

.btn:first-child {
  -webkit-border-top-left-radius: $border-radius;
  -moz-border-radius-topleft: $border-radius;
  border-top-left-radius: $border-radius;
  -webkit-border-bottom-left-radius: $border-radius;
  -moz-border-radius-bottomleft: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.btn:last-child {
  -webkit-border-top-right-radius: $border-radius;
  -moz-border-radius-topright: $border-radius;
  border-top-right-radius: $border-radius;
  -webkit-border-bottom-right-radius: $border-radius;
  -moz-border-radius-bottomright: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.banner-highlight {
  font-family: 'Monofett';
  color: rgb(138,33, 134);
  font-size: 32px;
}

.footer-nav{
  color: darken(#82cb33, 40%);
  float:right;
  position:relative;
  left:-50%;
  text-align:center;
  padding: 10px;
  ul {
    list-style:none; 
    position:relative;
    left:50%;
  }
  li {
    float:left;
    position:relative;
    padding-left: 15px;
    padding-right: 15px;
  }/* ie needs position:relative here*/
}

.links {
  margin: 10px;
}

#new_user input[type="submit"] {
  @extend %button;
}

#edit_user input[type="submit"] {
  @extend %button;
}

.rounded {
  border-radius: $border-radius;
}

.top-margin {
  margin-top: 10px;
}

.small-top-margin {
  margin-top: 5px;
}

#error_explanation {
  h2 {
    font-size: emCalc(18px);
    color: red;
  }
  ul {
    font-size: emCalc(15px);
    color: red;
    padding-left: 30px;
  }
}

.alert, .notice {
  margin-top: 10px;
  background-color: lighten(#95CB5B,5%);
  color: darken(#82cb33, 20%);
  padding: 2px 10px 2px 10px;
}

.alert {
  color: red;
}

.float-left {
  float: left;
}

.left-margin {
  margin-left: 20px;
}

.right-margin {
  margin-right: 20px;
}

.margin-10px {
  margin: 10px;
}