$border-radius: 3px;

.tag {
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -o-border-radius: $border-radius; 
  padding: 8px;
  padding-left: 20px;
  padding-top: 11px;
  font-size: 14px;
  font-style: bold;
  display: inline-block;
  width: 197px;
  height: 35px;
  //background-color: #A84BA8;
  background-color: rgb(58, 57, 63);
  color: #fff;
}

.tagrow {
  padding: 15px;
}

.courses {
  display: inline-block;
  background-color: #e7e7e7;
  margin-left: 5px;
  padding-left: 20px;
  padding-top: 5px;
  width: 100%;
}

.course {
  display: inline-block;
  margin-right: 15px;
  font-size: 12px;
  padding: 8px;
}

.meter {
  display: inline-block;
  padding: 5px;
  padding-top: 40px;
  .level_color {
    margin-right: 10px;
  }
  .level_color:first-child {
    margin-left: 20px;
  }
  .level_color:last-child {
    margin-right: 20px;
  }
}

.meter-tag {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  text-shadow: grey 0 -1px;;
}

.meters {
  background-color: #d7d7d7;
  padding: 5px;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
}

.level_color {
  display: inline-block;
  width: 12px;
  height: 12px;
  line-height: 12px;
  -webkit-border-radius: 6.5px;
  -moz-border-radius: 6.5px;
  border-radius: 6.5px;
  margin-right: 5px;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  position: relative;
  text-align: center;
}

.course:hover {
  color: white;
  background-color: lighten(black, 25%);
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  a {
    color: white;
  }
};

.lessons:first-child {
  -webkit-border-top-left-radius: $border-radius;
  -moz-border-radius-topleft: $border-radius;
  border-top-left-radius: $border-radius;
  -webkit-border-bottom-left-radius: $border-radius;
  -moz-border-radius-bottomleft: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.lessons:last-child {
  -webkit-border-top-right-radius: $border-radius;
  -moz-border-radius-topright: $border-radius;
  border-top-right-radius: $border-radius;
  -webkit-border-bottom-right-radius: $border-radius;
  -moz-border-radius-bottomright: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.details {
  padding-bottom: 20px;
}

.odd {
  background-color: lighten(black, 90%);
}

.even {
  background-color: lighten(black, 80%);
}

.batch {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.course-contents {
  height: 600px;
}

.course-price {
  background-color: green;
  -webkit-border-radius: 6.5px;
  -moz-border-radius: 6.5px;
  border-radius: 6.5px;
  padding: 10px;
  color: white;
}

.inactive {
  opacity: 0.5;
}

.specialities { background-color: blue; }
.professional { background-color: red; }
.advanced { background-color: red; }
.early-advanced { background-color: rgb(180, 95, 6); }
.amateur { background-color: rgb(191, 141, 0); }
.intermediate { background-color: yellow; }
.early-intermediate { background-color: rgb(147, 196, 125); }
.beginner { background-color: rgb(106, 168, 79); }
.elementary { background-color: rgb(0, 158, 15); }
.early-elementary { background-color: green; }