$border-radius: 3px;

.tag {
  background-color: #CCCCCC;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -o-border-radius: $border-radius; 
  padding: 8px;
  font-size: 18px;
  font-style: bold;
}

.tagrow {
  padding: 15px;
}

.course {
  background-color: #C0C0C0;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -o-border-radius: $border-radius; 
  margin: 5px;
  padding: 5px;
}

.level_color {
  display: inline-block;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 6.5px;
  -moz-border-radius: 6.5px;
  border-radius: 6.5px; 
  background-color: black;
}

.professional { background-color: red; }
.advanced { background-color: red; }
.early-advanced { background-color: rgb(180, 95, 6); }
.amateur { background-color: rgb(191, 141, 0); }
.intermediate { background-color: yellow; }
.early-intermediate { background-color: rgb(147, 196, 125); }
.beginner { background-color: rgb(106, 168, 79); }
.elementary { background-color: rgb(0, 158, 15); }
.early-elementary { background-color: green; }
