@font-face {
    font-family: "Barkentina";
    src: url("/fonts/barkentina_webfont.eot");
    src: url("/fonts/barkentina_webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/barkentina_webfont.woff") format("woff"),
         url("/fonts/barkentina_webfont.ttf") format("truetype"),
         url("/fonts/barkentina_webfont.svg#barkentina_testregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Signika_Bold";
    src: url("/fonts/signika_bold_webfont.eot");
    src: url("/fonts/signika_bold_webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/signika_bold_webfont.woff") format("woff"),
         url("/fonts/signika_bold_webfont.ttf") format("truetype"),
         url("/fonts/signika_bold_webfont.svg#signikabold") format("svg");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Signika_Light";
    src: url("/fonts/signika_light_webfont.eot");
    src: url("/fonts/signika_light_webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/signika_light_webfont.woff") format("woff"),
         url("/fonts/signika_light_webfont.ttf") format("truetype"),
         url("/fonts/signika_light_webfont.svg#signikalight") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Signika";
    src: url("/fonts/signika_regular_webfont.eot");
    src: url("/fonts/signika_regular_webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/signika_regular_webfont.woff") format("woff"),
         url("/fonts/signika_regular_webfont.ttf") format("truetype"),
         url("/fonts/signika_regular_webfont.svg#signikaregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Signika_Semibold";
    src: url("/fonts/signika_semibold_webfont.eot");
    src: url("/fonts/signika_semibold_webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/signika_semibold_webfont.woff") format("woff"),
         url("/fonts/signika_semibold_webfont.ttf") format("truetype"),
         url("/fonts/signika_semibold_webfont.svg#signikasemibold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Signika_Negative_Bold";
    src: url("/fonts/signikanegative_bold_webfont.eot");
    src: url("/fonts/signikanegative_bold_webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/signikanegative_bold_webfont.woff") format("woff"),
         url("/fonts/signikanegative_bold_webfont.ttf") format("truetype"),
         url("/fonts/signikanegative_bold_webfont.svg#signika_negativebold") format("svg");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Signika_Negative_Light";
    src: url("/fonts/signikanegative_light_webfont.eot");
    src: url("/fonts/signikanegative_light_webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/signikanegative_light_webfont.woff") format("woff"),
         url("/fonts/signikanegative_light_webfont.ttf") format("truetype"),
         url("/fonts/signikanegative_light_webfont.svg#signika_negativelight") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Signika_Negative";
    src: url("/fonts/signikanegative_regular_webfont.eot");
    src: url("/fonts/signikanegative_regular_webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/signikanegative_regular_webfont.woff") format("woff"),
         url("/fonts/signikanegative_regular_webfont.ttf") format("truetype"),
         url("/fonts/signikanegative_regular_webfont.svg#signika_negativeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Signika_Negative_Semibold";
    src: url("/fonts/signikanegative_semibold_webfont.eot");
    src: url("/fonts/signikanegative_semibold_webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/signikanegative_semibold_webfont.woff") format("woff"),
         url("/fonts/signikanegative_semibold_webfont.ttf") format("truetype"),
         url("/fonts/signikanegative_semibold_webfont.svg#signika_negativesemibold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Casper_Bold_Italic";
    src: url("/fonts/casper_bold_italic_webfont.eot");
    src: url("/fonts/casper_bold_italic_webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/casper_bold_italic_webfont.woff") format("woff"),
         url("/fonts/casper_bold_italic_webfont.ttf") format("truetype"),
         url("/fonts/casper_bold_italic_webfont.svg#casper_bold_italicregular") format("svg");
    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: "Casper_Bold";
    src: url("/fonts/casper_bold_webfont.eot");
    src: url("/fonts/casper_bold_webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/casper_bold_webfont.woff") format("woff"),
         url("/fonts/casper_bold_webfont.ttf") format("truetype"),
         url("/fonts/casper_bold_webfont.svg#casper_boldregular") format("svg");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Casper_Italic";
    src: url("/fonts/casper_italic_webfont.eot");
    src: url("/fonts/casper_italic_webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/casper_italic_webfont.woff") format("woff"),
         url("/fonts/casper_italic_webfont.ttf") format("truetype"),
         url("/fonts/casper_italic_webfont.svg#casper_italicregular") format("svg");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Casper';
    src: url('/fonts/casper_webfont.eot');
    src: url('/fonts/casper_webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/casper_webfont.woff') format('woff'),
         url('/fonts/casper_webfont.ttf') format('truetype'),
         url('/fonts/casper_webfont.svg#casper') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans_Bold';
    src: url('/fonts/OpenSans_Bold_webfont.eot');
    src: url('/fonts/OpenSans_Bold_webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans_Bold_webfont.woff') format('woff'),
         url('/fonts/OpenSans_Bold_webfont.ttf') format('truetype'),
         url('/fonts/OpenSans_Bold_webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans_BoldItalic';
    src: url('/fonts/OpenSans_BoldItalic_webfont.eot');
    src: url('/fonts/OpenSans_BoldItalic_webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans_BoldItalic_webfont.woff') format('woff'),
         url('/fonts/OpenSans_BoldItalic_webfont.ttf') format('truetype'),
         url('/fonts/OpenSans_BoldItalic_webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans_ExtraBold';
    src: url('/fonts/OpenSans_ExtraBold_webfont.eot');
    src: url('/fonts/OpenSans_ExtraBold_webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans_ExtraBold_webfont.woff') format('woff'),
         url('/fonts/OpenSans_ExtraBold_webfont.ttf') format('truetype'),
         url('/fonts/OpenSans_ExtraBold_webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans_ExtraBoldItalic';
    src: url('/fonts/OpenSans_ExtraBoldItalic_webfont.eot');
    src: url('/fonts/OpenSans_ExtraBoldItalic_webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans_ExtraBoldItalic_webfont.woff') format('woff'),
         url('/fonts/OpenSans_ExtraBoldItalic_webfont.ttf') format('truetype'),
         url('/fonts/OpenSans_ExtraBoldItalic_webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans_Italic';
    src: url('/fonts/OpenSans_Italic_webfont.eot');
    src: url('/fonts/OpenSans_Italic_webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans_Italic_webfont.woff') format('woff'),
         url('/fonts/OpenSans_Italic_webfont.ttf') format('truetype'),
         url('/fonts/OpenSans_Italic_webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans_Light';
    src: url('/fonts/OpenSans_Light_webfont.eot');
    src: url('/fonts/OpenSans_Light_webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans_Light_webfont.woff') format('woff'),
         url('/fonts/OpenSans_Light_webfont.ttf') format('truetype'),
         url('/fonts/OpenSans_Light_webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans_LightItalic';
    src: url('/fonts/OpenSans_LightItalic_webfont.eot');
    src: url('/fonts/OpenSans_LightItalic_webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans_LightItalic_webfont.woff') format('woff'),
         url('/fonts/OpenSans_LightItalic_webfont.ttf') format('truetype'),
         url('/fonts/OpenSans_LightItalic_webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans_Regular';
    src: url('/fonts/OpenSans_Regular_webfont.eot');
    src: url('/fonts/OpenSans_Regular_webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans_Regular_webfont.woff') format('woff'),
         url('/fonts/OpenSans_Regular_webfont.ttf') format('truetype'),
         url('/fonts/OpenSans_Regular_webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans_Semibold';
    src: url('/fonts/OpenSans_Semibold_webfont.eot');
    src: url('/fonts/OpenSans_Semibold_webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans_Semibold_webfont.woff') format('woff'),
         url('/fonts/OpenSans_Semibold_webfont.ttf') format('truetype'),
         url('/fonts/OpenSans_Semibold_webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans_SemiBoldItalic';
    src: url('/fonts/OpenSans_SemiboldItalic_webfont.eot');
    src: url('/fonts/OpenSans_SemiboldItalic_webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans_SemiboldItalic_webfont.woff') format('woff'),
         url('/fonts/OpenSans_SemiboldItalic_webfont.ttf') format('truetype'),
         url('/fonts/OpenSans_SemiboldItalic_webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LD_Music_Regular';
    src: url('/fonts/LD_Music_webfont.eot');
    src: url('/fonts/LD_Music_webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/LD_Music_webfont.woff') format('woff'),
         url('/fonts/LD_Music_webfont.ttf') format('truetype'),
         url('/fonts/LD_Music_webfont.svg#ld_musicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Amadeus';
    src: url('/fonts/Amadeus_Regular_webfont.eot');
    src: url('/fonts/Amadeus_Regular_webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Amadeus_Regular_webfont.woff') format('woff'),
         url('/fonts/Amadeus_Regular_webfont.ttf') format('truetype'),
         url('/fonts/Amadeus_Regular_webfont.svg#amadeus_regularamadeusRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Carrington_Regular';
    src: url('/fonts/Carrington_webfont.eot');
    src: url('/fonts/Carrington_webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Carrington_webfont.woff') format('woff'),
         url('/fonts/Carrington_webfont.ttf') format('truetype'),
         url('/fonts/Carrington_webfont.svg#carringtonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
