.businesses {
  min-height: 200px;
}

.business {
  font-size: 64px;
  text-transform: uppercase;
  font-family: 'Amadeus', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}

.discipline-image {
  min-height: 125px;
}

.course-snippet {
  min-height: 400px;
}